<launch>

<rosparam file="$(find diff_drive_control)/config/controller.yaml" command="load"/>
<node args="motor_right_position_controller motor_left_position_controller joint_state_controller " name="controller_spawner" ns="diff_drive" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/diff_drive/joint_states"/>
</node>

</launch>